body{
    background-color: rgb(134, 58, 58);
}
#principal{
    width: 750px;
    margin-left: auto;
    margin-right: auto;
}

#entete{
    background-color: #33DDFF;
}

#contenu{
    background-color: #F7DC6F;
    ;
}

#pied{
    background-color: #3371FF;